<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.samsung.com/">  
  <ThumbIcon itemtype="string">app/img/zcast-logo.png</ThumbIcon>
  <BigThumbIcon itemtype="string">app/img/zcast-logo.png</BigThumbIcon>
  <ListIcon itemtype="string">app/img/zcast-logo.png</ListIcon>
  <BigListIcon itemtype="string">app/img/zcast-logo.png</BigListIcon> 
  <category itemtype="string">Information</category>  
  <autoUpdate itemtype="boolean">y</autoUpdate>  
  <ver itemtype="string">0.001</ver>  
  <mgrver itemtype="string">0.0001</mgrver>
  <fullwidget itemtype="boolean">y</fullwidget>  
  <type itemtype="string">user</type>  
  <srcctl itemtype="boolean">y</srcctl>  
  <ticker itemtype="boolean">n</ticker>  
  <childlock itemtype="boolean">n</childlock>  
  <videomute itemtype="boolean">n</videomute>  
  <dcont itemtype="boolean">y</dcont>  
  <widgetname itemtype="string">zcast</widgetname>  
  <description itemtype="string">Casting apps for Samsung TV</description>  
  <width itemtype="string">960</width>  
  <height itemtype="string">540</height>  
  <author itemtype="group"> 
    <name itemtype="string">vbose</name>  
    <email itemtype="string">vbose@24hourapp.com</email>  
    <organization itemtype="string">Zcast Apps</organization>
  </author> 
</widget>